<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--user1为通过构造方法实例化的对象-->
    <bean id="user1" class="assemble.ComplexUser">
    <constructor-arg index="0" value="张三"/>
    <constructor-arg index="1">
        <list>
            <value>唱歌</value>
            <value>跳舞</value>
            <value>篮球</value>
        </list>
    </constructor-arg>
    <constructor-arg index="2">
        <map>
            <entry key="da1" value="大连"/>
            <entry key="da2" value="南京"/>
            <entry key="da3" value="北京"/>
        </map>
    </constructor-arg>
    <constructor-arg index="3">
        <set>
            <value>张三1</value>
            <value>张三2</value>
            <value>张三3</value>
        </set>
    </constructor-arg>
    <constructor-arg index="4">
        <array>
            <value>aaaa</value>
            <value>bbbb</value>
        </array>
    </constructor-arg>
</bean>
    <!--user2为通过setter方法实例化的对象-->
    <bean id="user2" class="assemble.ComplexUser">
        <property name="uname" value="李四"/>
        <property name="hobbyList">
            <list>
                <value>Rap</value>
                <value>唱歌</value>
            </list>
        </property>
        <property name="residenceMap">
            <map>
                <entry key="zx1" value="Newyork"/>
                <entry key="zx2" value="london"/>
                <entry key="zx3" value="sddas"/>
            </map>
        </property>
        <property name="aliasSet">
            <set>
                <value>李四1</value>
                <value>李四2</value>
                <value>李四3</value>
            </set>
        </property>
        <property name="array">
            <array>
            <value>ererre</value>
            <value>ttrtrt</value>
            </array>
        </property>
    </bean>
</beans>